.navbar {
  display: flex;
  width: auto;
  justify-content: space-between;
  margin: 0,0,20,0;
}

.logo {
  display: inline;
  background-color: blue;
  border: dashed 5px white;
  margin: 0,3em,0,3em;
}

.signout-button {
  display: flex;
  color: aquamarine;
  background-color: blue;
  padding: 10px;
  margin: 0, 40px, 5px, 0;
  height:fit-content;
}