body {
  margin: 0;
  background: rgb(191,54,200);
  background: linear-gradient(90deg, rgba(190,54,220,0.9775443624715511) 15%, rgba(155,0,163,1) 100%, rgba(179,63,206,0.9607376397824755) 70%); 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
